@charset "utf-8";
/* CSS Document */

/*头部*/
	.header{
		height: 100px;
		width: 100%;
		background-color: #0B8B8E;
	}
	.header .gwidth{
		position: relative;
	}
	.header h1 img{
		margin-left: 3px;
		margin-top: 21px;
	}
	.sarch_box{
		position: absolute;
		top: 10px;right: 4px;
	}
	.sarch_box form .text{
		width: 156px;
		height: 26px;
		border-left:1px solid #AAAAAA;
		border-bottom: 1px solid #AAAAAA;
		border-top: 1px solid #AAAAAA;;
		padding-left: 2px;
		outline: none;
		float: left;
	}
	.sarch_box form .sub{
		width: 33px;
		height: 30px;
		float: left;
		outline: none;
	}
	.banner{
		background:url(../images/banner.png) repeat-x center center;
		width: 100%;height: 431px;
	}
	.nav{
		position: absolute;
		top: 56px;left: 377px;
	}
	.nav ul li{
		width:88px;
		height: 44px;
		border-radius: 4px 4px 0 0;
		line-height: 44px;
		text-align: center;
		float: left;
	}
	.nav ul .nav_li{
		width: 88px;
		height: 44px;
		background-color: #FFFFFF;
	}
	.nav ul li a{
		font-family: "微软雅黑";
		font-size: 14px;
		color: #FFFFFF;
	}
	.nav ul li:hover{
		width: 88px;
		height: 44px;
		background-color: #FFFFFF;
	}
	.nav ul .nav_li a,.nav ul li:hover a{
		font-family: "微软雅黑";
		font-size: 14px;
		color: #29999C;
	}
/*content*/
	.content .con_news{
		width: 1120px;
		margin-left: auto;
		margin-right: auto;
		border-bottom: 1px solid #BBBBBB;
		padding-bottom: 12px;
		padding-top: 21px;
		float: left;
	}
	.content .con_news h4{
		font-family: "微软雅黑";
		font-size: 14px;
		float: left;
		margin-left: 1px;
	}
	.content .con_news a{
		font-family: "微软雅黑";
		font-size: 12px;
		color:#656565;
		float: left;
		margin-top: 2px;
		margin-left: 21px;
	}
	.content_two{
		margin-top: 63px;
	}
	.content_two .one{
		width: 348px;
		height: 122px;
		border-radius: 6px;
		background-color: #F8F8F8;
		border:1px solid #EFEFEF;
		margin-left: 12px;
		float: left;
		position: relative;
	}
	.content_two .one h4{
		font-family: "微软雅黑";
		font-size: 14px;
		margin-top: 10px;
		margin-left: 12px;
	}
	.content_two .one .lh li{
		width: 94px;
		height: 76px;
		border:1px solid #DDDDDD;
		margin-top: 4px;
		float: left;
	}
	.content_two .one img{
		width: 94px;
		height: 76px;
	}
	.content_two .one .lh .c_t_o{
		margin-left: 12px;
		margin-right: 18px;
	}
	.content_two .one .lh .c_t_o2{
		margin-right: 16px;
	}
	.content_two .one .dian li{
		width: 7px;
		height: 7px;
		border-radius: 50%;
	}
	.content_two .one .dian .li{
		background-color: #E5E5E5;
		position: absolute;
		top: 114px;left: 151px;
	}
	.content_two .one .dian .li2{
		background-color: #BFBFBF;
		position: absolute;
		top: 114px;left: 165px;
	}
	.content_two .one .dian .li3{
		background-color: #E5E5E5;
		position: absolute;
		top: 114px;left: 178px;
	}
	.content_two .two{
		width: 348px;
		height: 122px;
		border-radius: 6px;
		border:1px solid #EFEFEF;
		margin-left: 14px;
		background:url(../images/about_us.png) no-repeat 236px center #F8F8F8;
		float: left;
	}
	.content_two .two h4{
		font-family: "微软雅黑";
		font-size: 14px;
		margin-top: 10px;
		margin-left: 21px;
	}
	.content_two .two p{
		width: 214px;
		height: 77px;
		font-family: "微软雅黑";
		font-size: 12px;
		color: #656565;
		margin-left: 16px;
		line-height: 22px;
		text-indent: 2em;
	}
	.content_two .three{
		width: 348px;
		height: 122px;
		border-radius: 6px;
		border:1px solid #EFEFEF;
		margin-left: 14px;
		background:url(../images/contact_us.png) no-repeat 236px center #F8F8F8;
		float: left;
	}
	.content_two .three h4{
		font-family: "微软雅黑";
		font-size: 14px;
		margin-top: 10px;
		margin-left: 21px;
	}
	.content_two .three li{
		font-family: "微软雅黑";
		font-size: 12px;
		color: #656565;
		line-height: 18px;
		margin-left: 22px;
		margin-top: 3px;
	}
	.ct_three .th_fl{
		margin-top: 13px;
		margin-left: 10px;
		float: left;
	}
	.ct_three .th_fl h4{
		width: 185px;
		height: 38px;
		background-color: #0D9590;
		line-height: 38px;
		padding-left: 16px;
		font-family: "微软雅黑";
		font-size: 14px;
		color: #FFFFFF;
		font-weight: bold;
	}
	.ct_three .th_fl .th_fl_ul{
		width: 188px;
		height: 182px;
		padding: 19px 6px 0 5px;
		border: 1px solid #EEEEEE;
	}
	.ct_three .th_fl .th_fl_ul li{
		border-bottom: 1px dotted #999999;
		padding-bottom: 6px;
		padding-left: 16px;
	}
	.ct_three .th_fl .th_fl_ul li a{
		margin-right: 25px;
		color: #666666;
		font-family: "微软雅黑";
		font-size: 12px;
	}
	.ct_three .th_fl .th_fl_ul .k_li{
		padding-top: 22px;
	}
	.ct_three .th_fl .th_fl_ul .more{
		border:none;
		padding-top: 11px;
		text-align: right;
		margin-right: -25px;
	}
	.ct_three .th_lb{
		margin-top: 29px;
		margin-left: 15px;
		float: left;
	}
	.ct_three .th_wz{
		float: left;
		margin-top: 29px;
		margin-left: 15px;
	}
	.ct_three .th_wz li{
		width: 535px;
		font-family: "微软雅黑";
		font-size: 12px;
		padding-bottom: 9px;
		border-bottom: 1px dashed #999999;
		padding-top: 5px;
		padding-left: 29px;
	}
	.ct_three .th_wz li a{
		color: #656565;
	}
	.ct_three .th_wz .t_1 a{
		color: #F76011;
	}
	.ct_three .th_wz li span{
		color: #999999;
		font-family: "Arial";
		font-size: 12px;
		float: right;
	}
	.ct_three .th_wz .t_2{
		text-align: right;
		border:none;
	}
/*底部*/
	.footer{
		width: 100%;
		height: 69px;
		padding-top: 25px;
		background-color: #353535;
		margin-top: 10px;
	}
	.footer p{
		font-family: "微软雅黑";
		font-size: 12px;
		color: #999999;
		text-align: center;
	}
	.footer .f_p{
		margin-top: 21px;
	}
	.footer p a{
		font-family: "微软雅黑";
		font-size: 12px;
		color: #999999;
	}
